@import "tailwindcss";


@layer base {

    /* make the project's default sans font the one configured in tailwind.config */
    html,
    body {
        /* explicit test: set Manrope directly to verify the font loads in-browser */
        font-family: 'Manrope', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
}

/* Add any custom global styles below */
@theme {
    --color-d8: #D87D4A;
    --color-fba: #FBAF85;
    --color-orange-active: #e66418ff;
    --color-black-hover: #383838;
    --color-1010: #101010;
    --color-f1f1: #F1F1F1;
    --color-fafa: #FAFAFA;
}